.fade-enter-active {
  transition: transform .33s, opacity .33s;
}

.fade-leave-active {
  transition: all .33s, transform .33s;
}

.fade-enter {
  opacity: 0;
  transform: translateX(50px);
}

.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  transform: translateX(-50px);
}

.custom-modal-container {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}