.fade-enter-active {
  transition: transform .33s, opacity .33s;
}

.fade-leave-active {
  transition: all .33s, transform .33s;
}

.fade-enter {
  opacity: 0;
  transform: translateX(50px);
}

.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  transform: translateX(-50px);
}

.custom-modal-container {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 0 5px 5px 0;
}

button.block-button {
    padding: 30px 5px;
    width: 100%;
    font-size: 24px;
    white-space: normal;
    height: 100%;
    margin-bottom: 6px;
    background-color: #000000;
    color: #b97b38;
    border: 0;
    border-radius: 0;
    font-size: 1.3em;
}

button.block-button:hover { cursor: pointer; }
button.block-button:active { transform: scale(0.99, 0.99); outline: 0; }
button.block-button:focus { outline: 0; }

.bottom-sm-actions {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.router-link-chart:hover {
    text-decoration: none;
    opacity: 0.8;
}

.router-link-chart {
    padding: 5px 10px;
    margin: 2px;
    font-size: 24px;
    border: solid 1px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}

.page-header {
  border-bottom-color: #b97b38;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #363636;
  color: #b97b38;
}

label {
  color: #b97b38;
  font-size: 0.9em;
}

.button-main {
  padding: 8px;
  background-color: #191919;
  color: #f77f00;
  border-radius: 0;
  border: 0;
}

.button-main:hover { cursor: pointer; background-color: #191919; color: #f77f00; }
.button-main:active { transform: scale(0.95, 0.95); outline: 0; background-color: #191919; color: #f77f00; }
.button-main:focus { outline: 0; background-color: #191919; color: #f77f00; }

.title__main {
  color: #f77f00 !important;
}

.title__small {
  color: #b97b38;
  font-size: 1.2em;
}

input.form-control {
  border-radius: 0;
  border: 0;
  background-color: #000000;
  color: #999998;
}

input.form-control:active { outline: 0; border: 0; box-shadow: 0 0 1px #f77f00; }
input.form-control:focus { outline: 0; border: 0; box-shadow: 0 0 1px #f77f00; }

nav.navbar.navbar-default {
  background-color: #000000;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #b97b38;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active{
  color: #f77f00;
}

.navbar-default .navbar-nav>li>a {
  color: #b97b38;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
  color: #f77f00;
}

i.fa {
  color: #f77f00;
}

.table td{
    border: #000000 solid 1px !important;
    color: #b97b38;
}

.table th{
    border: #000000 solid 1px !important;
}

.table thead tr > th {
  background-color: #000000 !important;
  color: #f77f00;
}

.table tbody tr:nth-child(odd) > td {
  background-color: #2e2e2e !important;
}

.table tbody tr:nth-child(even) > td {
  background-color: #424242 !important;
}

.modal-content {
  background-color: #363636;
  border-radius: 0;
}

hr {
  border-color: #f77f00;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #f77f00;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #f77f00;
}

button.close {
  color: #f77f00;
}

.list-group-item {
  background-color: #424242;
  border-color: #000000;
}

.black,
.black:hover,
.black:active,
.black:focus {
    background-color: #000000 !important;
}

.list-group-item:first-child,
.list-group-item:first-child:hover,
.list-group-item:first-child:active,
.list-group-item:first-child:focus {
  outline: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}