<div class="container text-center">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <router-link to="/workout/pick">
                <button class="block-button" type="button">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i> Pick workout
                </button>
            </router-link>
        </div>
        <div class="col-md-4 col-sm-6">
            <router-link to="/list/user/workouts">
                <button class="block-button" type="button">
                    <i class="fa fa-edit" aria-hidden="true"></i> Edit workout statistics
                </button>
            </router-link>
        </div>
        <div class="col-md-4 col-sm-6">
            <router-link to="/list/workouts">
                <button class="block-button" type="button">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> Workout progress
                </button>
            </router-link>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 col-sm-6">
            <router-link to="/create/workout">
                <button class="block-button" type="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Create workout
                </button>
            </router-link>
        </div>
        <div class="col-md-4 col-sm-6">
            <router-link to="/create/exercise">
                <button class="block-button" type="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Create exercise
                </button>
            </router-link>
        </div>
        <div class="col-md-4 col-sm-6"></div>
    </div>
</div>