<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <router-link to="/create/workout">Create workout</router-link>
            <router-link to="/list/workouts">List workouts</router-link>
            <router-link to="/workout/pick">Pick workout</router-link>
            <router-link to="/list/user/workouts">Edit workout statistics</router-link>
            <br>
            <router-link to="/create/exercise">Create exercise</router-link>
        </div>
    </div>
</div>