<div class="container" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-xs-12">
            <form v-on:submit.prevent="_submit">
                <div class="from-group">
                    <div class="text-success">{{ message }}</div>
                    <div class="text-danger">{{ errors.name }}</div>
                    <label for="workout.name">Name</label>
                    <input v-model="workout.name" class="form-control" type="text" id="workout.name" placeholder="Name">
                </div>
                <br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div v-for="exercise in formOptions.exercises" class="col-xs-12" style="padding-bottom: 6px;">
                                <button type="button" class="button-main" style="width: 100%;"
                                        v-on:click.prevent="_addExercise(exercise)">
                                    <i class="fa fa-plus-circle text-success pull-left" aria-hidden="true"></i> {{ exercise.name }}
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-xs-12">
                                <ul class="list-group">
                                    <li v-for="exercise in workout.workoutExerciseOrder" class="list-group-item">
                                        #{{ exercise.order }} {{ exercise.name }} {{ exercise.id }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="from-group text-right">
                    <button type="submit" class="button-main">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>